body{
	background-color: #f5f7fa;
}
.clientslist{
	padding-top: 50px;
	margin-bottom: 20px !important;
}
.prod_list{
	width: 100%;
	margin: auto;
	background-color: #fff;
	border:1px solid #e3e3e3;
	border-radius: 6px;
	margin-bottom: 30px;
	padding:50px 40px;
}
.label-success,.label-danger{
	position: absolute;
	top:18px;
	right: 30px;
	font-size: 100%;
}
.prod_list_title{
	display: block;
	width: 60px;
	height: 60px;
	position: relative;
	margin:auto;
}
.prod_list_name{
	display: block;
	font-size: 20px;
	color: #34b6d9;
	margin-top: 20px;
	text-align: center;
}
.prod_list_content{
	display: block;
	font-size: 15px;
	color: #333;
	font-weight: 400;
	font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top: 10px;
	text-align: center;
}
.prod_list_contact{
	position: relative;
	margin:auto;
	margin-top: 20px;
	text-align: center;
}
.btn-warning:hover{
	color: #fff !important;
}
@media screen and (max-width: 768px) {
.clientslist{
	padding-top: 0px;
	margin-top: 40px;
}
}