.teamlist{
	margin-top: 83px;
}
.teammemb{
	background-color: #fff;
	padding:150px;
}
.teammemb img{
	width: 200px;
	height: 200px;
	display: inline-block;
}
.team_pics{
	text-align: center;
}
.team_brief{
	text-align: left;
}
.team_brief strong,.team_brief span,.team_brief p{
	display: block;
}
.team_brief strong{
	font-size: 27px;
	font-weight: 500;
	margin-top: 15px;
}
.team_brief span{
	color: #707070;
	font-size: 18px;
	margin-bottom: 30px;
}
.team_brief p{
	color: #707070;
	font-size: 15px;
	margin-bottom: 2px;
}
#teammemb2{
	background-color: #f5f7fa;
}
#teammemb2 .team_brief{
	text-align: right;
}
@media screen and (max-width: 768px) {
	.teamlist{
		margin-top: -30px;
	}
}